@import "tailwindcss";

@theme {
  --font-sans: "Archivo", ui-sans-serif, system-ui, sans-serif;
  --color-dongker: #13294b;
  --color-emas: #b8913a;
}

body {
  @apply bg-slate-50 text-slate-800 font-sans antialiased;
}
